
* { box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover {
    background-color: darkorange;
}

@font-face {
    font-family: Verdana;
    src: url("../fonts/verdana.ttf");
}

@font-face {
    font-family: Verdana-bold;
    src: url("../fonts/Verdana Bold.ttf");
}

body {
    background-image: url("../img/backgr.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {

    display: flex;
    flex-direction: row;
    /*align-items: baseline;*/

    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    /*display: grid;*/
    /*grid-template-columns: 0.5fr 2fr 3fr;*/
    /*grid-template-rows: 50px 50px;*/
    justify-content: space-between;
}

.img {
    color: darkorange;
}

.house-logo {
    width: 55px;
    height: 55px;
}

.num_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: Verdana;
    font-size: 18px;
}

.milan {
    font-size: 30px;
    margin-left: 7px;
}

.hov:hover {
    color: darkorange;
    cursor: pointer;
}

.logo_div:hover{
    background: darkorange;
}

.holidays {
    font-size: 18.5px;
    margin-left: 7px;
}

.logo_div {
    display: flex;
    flex-direction: row;
    /*align-items: baseline;*/
    font-family: Verdana-bold;
    justify-content: center;
    align-items: center;
}

.logo_div:hover {
    color: orange;
    cursor: pointer;
}

.cont1-item {
    /*border: white solid 2px;*/
    color: white;
}

.cont1_item1 {
    grid-row: 1 / span 2;
}

.cont1_item2 {
    grid-row: 1 / span 2;
}

.container2 {
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    /*grid-template-rows: repeat(1fr 1fr 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    /*grid-auto-rows: minmax(10px, auto);*/
    /*grid-template-rows: 180px 10px 180px 10px;*/
    grid-column-gap: 60px;
    grid-row-gap: 45px;
}

.words {
    margin-top: -35px;
}

.words:hover{
    color: darkorange;
    cursor: pointer;
}

.img-card {
    width: 100%;
    /*height: 220px;*/
}

.cards:hover {
    background: darkorange;
    cursor: pointer;
}

.item {
    /*border: white solid 1px;*/
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.shop-tur {
    align-self: center;
}


.container3 {
    color: white;
    text-align: center;
    font-family: Verdana;
    /*margin-top: 40px;*/
    margin-top: 40px;
    font-size: 14px;
    display: grid;
    grid-row-gap: 20px;
}



























/*.img-card1 {*/
/*    text-decoration: none;*/
/*}*/

/*.container1 {*/
/*    margin-left: 150px;*/
/*    margin-top: 30px;*/
/*    margin-right: 150px;*/
/*    color: white;*/

/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.container2 {*/
/*    margin-left: 150px;*/
/*    margin-right: 150px;*/
/*    color: white;*/
/*    text-align: center;*/

/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*}*/

/*.container3 {*/
/*    color: white;*/
/*    text-align: center;*/
/*    font-size: small;*/
/*}*/
