ul {
    list-style: none;
    padding-left: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tab-link{
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

ul.tabs li.current{
    background: #937341;
    color: #23201D;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inline;
}