
.container {
    width: auto;
    height: auto;
    background: cadetblue;
    padding-bottom: 50px;
}

.inpPrice {
    height: 35px;
    width: 100px;
    margin-left: 10px;
    margin-top: 55px;
    border: 3px solid #080404;
    border-radius: 5px;
}

.price {
    margin-left: 50px;
    font-weight: bold;
    color: white;
}

.currentP {
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.delete-icon {
    margin-left: 10px;
    background: white;
    color: red;
    border-radius: 5px;
}

.error {
    color: red;
    margin-left: 10px;
}

.list {
    list-style-type: none;
}

