
@font-face {
    font-family: Montserrat-bold;
    src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: Montserrat-regular;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.otf");
}

body {
    padding: 0;
    margin: 0;
}

.general-container {
    width: 1400px;
}

.content {
    width: 1160px;
    margin: auto;
}

.first-container {
    background-image: url("../img/section-1(header).jpg");
    background-size: cover;
    height: 980px;
}

.cont-header1 {
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    display: flex;
}

.hexagon {
    position: relative;
    width: 55px;
    height: 31.68px;
    background: rgba(24, 207, 171, 255);
    margin: 15.54px auto;
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    border-left: 27.5px solid transparent;
    border-right: 27.5px solid transparent;
}

.hexagon::before {
    bottom: 100%;
    border-bottom: 15.84px solid rgba(24, 207, 171, 255);
}

.hexagon::after {
    top: 100%;
    border-top: 14.4px solid rgba(24, 207, 171, 255);
}

.textHexo {
    font-family: Montserrat-bold;
    font-size: 30px;
    color: white;
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    margin-top: -35px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-items-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-word1 {
    font-family: Montserrat-regular;
    color: white;
    margin-left: 10px;
    font-size: 35px;
}

.logo-word2 {
    font-family: Montserrat-bold;
    color: rgba(24, 207, 171, 255);
    font-size: 35px;
}

.menu-item {
    font-family: Montserrat-bold;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11pt;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.menu-item:hover {
    color: rgba(24, 207, 171, 255);
    border-bottom: #18cfab 2px solid;
}

.searchIcon {
    width: 70%;
    height: 70%;
}

.firstLine {
    font-family: Montserrat-bold;
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 230px;
    margin-bottom: 10px;
}

.wordpress {
    font-family: Montserrat-bold;
    color: rgba(24, 207, 171, 255);
    font-size: 35px;
}

.secondtLine {
    font-family: Montserrat-bold;
    font-size: 60pt;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.thirdLine {
    font-family: Montserrat-Light;
    font-size: 26pt;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.twoButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.exploreBtn {
    font-family: Montserrat-bold;
    font-size: 15px;
    color: white;
    width: 165px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(24, 207, 171, 255);
}

.purchaseBtn {
    font-family: Montserrat-bold;
    font-size: 15px;
    color: white;
    width: 165px;
    height: 60px;
    border-radius: 5px;
    margin-left: 25px;
    background-color: #00cbf6;
}

.with-icons {
    display: flex;
    flex-direction: row;
    width: 1400px;
}

.icon-item-black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 320px;
    background-color: #1c2a33;
    cursor: pointer;
}

.icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 320px;
    background-color: #18cfab;
    cursor: pointer;
}

.text-black {
    font-family: Montserrat-bold;
    color: #18cfab;
}

.text {
    font-family: Montserrat-bold;
    color: rgba(255, 255, 255, 255);
}

.lines {
    display: flex;
    flex-direction: row;
}

.line {
    width: 350px;
    height: 7px;
    background-color: #18cfab;
}

.line-white {
    width: 350px;
    height: 7px;
    background-color: rgba(255, 255, 255, 255);
}


/* Tab section */
.tabs {
    width: 100%;
    height: 350px;
}

.contentTabs {
    width: 1160px;
    margin: auto;
}

.beforeTabs {
    margin-top: -330px;
    display: flex;
    flex-direction: column;
}

.headerTabs {
    margin-top: -200px;
    text-align: center;
    font-family: Montserrat-regular;
    font-size: 37px;
    color: #4e4e4e;
}

.two-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.line-2 {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-left: -20px;
}

.centered-content {
    /*margin-top: 60px;*/
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-button {
    display: flex;
    flex-direction: row;
}


.tabs {
    margin-top: 600px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tabs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 35px;
    font-family: Montserrat-regular;
    font-size: 16px;
    padding: 20px;
    background-color: #f8fcfe;
    color: rgba(113, 113, 113, 255);
    cursor: pointer;
    border: rgba(113, 113, 113, 0.3) solid 1px;
}

.current {
    font-family: Montserrat-regular;
    padding: 20px;
    background-color: #18cfab; /*black*/
    color: rgba(113, 113, 113, 255); /*gold*/
    cursor: pointer;
}

/*this rule shown when page is open*/
.default-webdesign-title {
    font-family: Montserrat-regular;
    padding: 20px;
    background-color: #18cfab;
    color: #f8fcfe;
    cursor: pointer;
}

.default {
    display: none;
}

.default-webdesign {
    display: block;
}

.tabs-content {

}

.text-font {
    font-family: Montserrat-Light;
    color: rgba(119, 119, 119, 255);
}

.tab-images {
    width: 195px;
    height: 195px;
    margin-right: 15px;
}

.tabus {
    display: flex;
    flex-direction: row;
}

/*this rule for texts when open page, not for first text*/
.default {
    display: none;
}

/*this is firts icon in page, this is visible when page is open*/
.default-webdesign {
    display: block;
}

/* RULES FOR BUY AND INSTALL NOW SECTION */

.buyAndInstall {
    width: 100%;
    height: 490px;
    background-image: url("../img/section-2.jpg");
}

.buyInstalContent {
    height: 490px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    /*display: flex;*/
    /*flex-direction: column;*/
}

.textContent {
    width: 1160px;
    margin: auto;
}

.pureCOntext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greatText {
    margin-top: 130px;
    font-family: Montserrat-bold;
    color: #18cfab;
    font-size: 41px;
}

.smallText {
    margin-top: 25px;
    font-family: Montserrat-regular;
    font-size: 18px;
    color: rgba(216, 216, 216, 255);
}

.puchaseNowBtn {
    /*font-family: Montserrat-bold;*/
    margin-top: 60px;
}

.purchBtn {
    font-family: Montserrat-bold;
    padding: 20px;
    border-radius: 5px;
    color: #f8fcfe;
    background: #18cfab;
    border-top-style: solid;
    border-top-color: #f8fcfe;
    border-top-width: 3px;
    /*border-bottom: 6px;*/
}

.beforeLoadTabs {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.headerLoadTabs {
    text-align: center;
    font-family: Montserrat-regular;
    font-size: 37px;
    color: #4e4e4e;
    margin-top: 80px;
}

/* Load Tab */

.container-load-tab {
    background: #f8fcfe;
    margin-top: -80px;

}

.load-tab-content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.categories {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.category-item {
    font-family: Montserrat-regular;
    display: inline-block;
    padding: 20px 20px;
    border: rgba(113, 113, 113, 0.3) solid 1px;
    background-color: transparent;
    cursor: pointer;
}

.category-item.active {
    border-top-style: solid;
    border-top-color: #18cfab;
    border-top-width: 3px;
}

.relative {
    position: relative;
}

.loader {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.loader:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-right-color: transparent;
    animation: spin 2s infinite;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.grid-wrapper {
    margin-top: 30px;
    overflow: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: calc(100% / 4);
    position: relative;
    height: 290px;
    overflow: hidden;
}

.project-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-item--hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all .4s ease-out;
    opacity: 0;
}

.project-item:hover .project-item--hover {
    opacity: 1;
}

.text-center {
    text-align: center;
}

.load-more {
    font-family: Montserrat-bold;
    font-size: 15px;
    display: inline-block;
    padding: 20px 35px;
    text-transform: uppercase;
    margin-top: 30px;
    background: #18cfab;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 90px;
}


/* hover in load-tabs */

.circles {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.search-hover {
    position: absolute;
    margin-top: 12px;
    margin-left: 70px;
}

.in-empty-hover {
    position: absolute;
    margin-left: 13px;
    margin-top: 12px;
}

.full-circle {
    margin-left: 15px;
}

.crea-design {
    font-family: Montserrat-bold;
    color: #18cfab;
    margin-top: 30px;
}

.tab-name {
    font-family: Montserrat-regular;
    color: rgba(113, 113, 113, 0.5);
    font-size: 12px;
    margin-top: 15px;
}

.hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-style: solid;
    border-top-color: #18cfab;
    border-top-width: 3px;
}

/* Breaking News section*/

.breaking-news {
    height: 1000px;
}

.before-cards {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.header-cards {
    text-align: center;
    font-family: Montserrat-regular;
    font-size: 37px;
    color: #4e4e4e;
    margin-top: 80px;
}

.breaking-news-content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.card-img {
    width: 250px;
    height: 200px;
}

.calendar {
    font-family: Montserrat-regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #203e38;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: -204px;
    margin-left: 180px;
    color: white;
}

.titrs {
    margin-top: -5px;
    width: 248px;
    height: 70px;
    background: #f8fcfe;
    border: rgba(113, 113, 113, 0.3) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /*align-items: center;*/
}

.card-header {
    margin-left: 20px;
    font-family: Montserrat-bold;
    font-size: 18px;
    color: #4e4e4e;
}

.autor {
    margin-left: 20px;
    font-family: Montserrat-regular;
    font-size: 14px;
    color: #4e4e4e;
}

.firs-line-cards {
    display: flex;
    flex-direction: row;
}

.second-line-cards {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.card2 {
    margin-left: 25px;
}

.card3 {
    margin-left: 25px;
}

.card4 {
    margin-left: 25px;
}

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-item--hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all .4s ease-out;
    opacity: 0;
}

.card:hover .card-item--hover {
    opacity: 1;
}

.calendar-hover {
    font-family: Montserrat-regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #18cfab;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: -204px;
    margin-left: 180px;
    color: white;
}

.card-header-hover {
    margin-left: 20px;
    font-family: Montserrat-bold;
    font-size: 18px;
    color: #18cfab;
}

.slider-container {
    margin-top: -70px;
    width: 100%;
    height: 850px;
    background-image: url("../img/section-edit-3.jpg");
    /*background-color: rgba(0, 0, 0, 0.50);*/
}

.in-slider {
    width: 100%;
    height: 850px;
    background-color: rgba(0, 0, 0, 0.40);
}

.slider-header {
    text-align: center;
    font-family: Montserrat-regular;
    font-size: 37px;
    color: white;
    padding-top: 85px;
}

.swiper-container {
    width: 600px;
    height: 300px;
}

.kavicki {
    margin-top: 70px;
    text-align: center;
}

.slide-text {
    font-family: Montserrat-regular;
    color: white;
}

.slide-name {
    font-family: Montserrat-bold;
    color: #18cfab;
    text-align: center;
}

.slide-profession {
    text-align: center;
    font-family: Montserrat-regular;
    color: white;
}

.slide-photo {
    text-align: center;
}

.s-photo {
    width: 75px;
    height: 75px;
}

/*.swiper-slide-great {*/
/*    margin: auto;*/
/*}*/

.swiper-slide {
    text-align: center;
    /*height: 500px;*/
}

/*.swiper-wrapper {*/
/*    height: 800px;*/
/*}*/

.swiper-container{
    height: 400px;
}

.great-img-slide {
    position: absolute;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 12px;
    margin-left: 12px;
}

.small-img-slide {
    position: absolute;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    width: 60px;
    height: 60px;
}

.emp-big-blue-circle {
    position: relative;
    margin-right: 50px;
}

.text-slide {
    margin-top: 35px;
    font-family: Montserrat-regular;
    color: rgba(216, 216, 216, 255);
}

.profession {
    font-family: Montserrat-regular;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(216, 216, 216, 255);
}

.name-slide {
    margin-top: 35px;
    font-family: Montserrat-bold;
    color: #18cfab;
}

.swiper-container gallery-thumbs {
    margin-top: 30px;
}

.swiper-button-white {
    width: 40px;
    height: 20px;
    background: #18cfab;
    margin-top: 60px;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: 120px;
    font-family: Montserrat-regular;
    color: rgba(216, 216, 216, 255);
    text-align: center;
    width: 100%;
    background: #22353f;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-span {
    color: #18cfab;
}